.weather-data{
    display: block;
    border-top: 1px solid #fff;
    margin-top: 1.5em;
    text-align: center;
    background-color: #FFF3E4;
    color: #545454;
}

/* .weather-data-closed{
    display: none;
    transition: 350ms;
}

.closed{
    cursor: pointer;
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
} */

.weather-data span{
    margin: 0.5rem;
}

.weather-data h2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-data h2 p{
    margin: 0.1rem;
    margin-top: 5px;
    font-size: 18px;
}

.temperature{
    font-size: 20px;
}

.description-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    text-transform: capitalize;
    font-weight: bold;
}

.weather-icon{
    margin-top: -22px;
}

.details-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.details-container .umidity{
    border-right: 1px solid #fff;
    margin-right: 10px;
    padding: 0.6rem;
}

